[submodule "sugar-cron"]
	path = sugar-cron
	url = git@github.com:alexcicioc/sugar-cron.git
	branch = master
[submodule "sugar-server"]
	path = sugar-server
	url = git@github.com:alexcicioc/sugar-server.git
	branch = master
[submodule "sugar-mount"]
	path = sugar-mount
	url = git@github.com:alexcicioc/sugar-mount.git
